{% extends 'sbase.html' %}
{% load static %}
{% block rightmenu %}




<div class="container d-flex align-items-center justify-content-between flex-wrap">
    <!--begin::Info-->
    <div class="d-flex align-items-center py-2 mr-1">
       
   















<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
</div>
<!-- Card footer -->
</div>
</div></div><div class="owl-item cloned" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
</div>
<!-- Card footer -->
</div>
</div></div><div class="owl-item cloned" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
    
</div>
<!-- Card footer -->
</div>
</div></div><div class="owl-item cloned" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
</div>
<!-- Card footer -->

</div>
</div></div><div class="owl-item" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal">Websites with HTML</h5>
    
    <!-- Rating star -->
    
</div>
<!-- Card footer -->

</div>
</div></div><div class="owl-item" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
    
</div>
<!-- Card footer -->

</div>
</div></div><div class="owl-item" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
    
</div>
<!-- Card footer -->
</div>
</div></div><div class="owl-item active" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
</div>
<!-- Card footer -->
</div>
</div></div><div class="owl-item active" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
</div>
<!-- Card footer -->
</div>
</div></div><div class="owl-item active" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
    
</div>
<!-- Card footer -->
</div>
</div></div><div class="owl-item active" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
</div>
<!-- Card footer -->

</div>
</div></div><div class="owl-item cloned" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="/media/img/01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal">Websites with HTML</h5>
    
    <!-- Rating star -->
    
</div>
<!-- Card footer -->

</div>
</div></div><div class="owl-item cloned" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="02.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
    
</div>
<!-- Card footer -->

</div>
</div></div><div class="owl-item cloned" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="01.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
    
</div>
<!-- Card footer -->
</div>
</div></div><div class="owl-item cloned" style="width: 275.625px; margin-right: 20px;"><div class="item">
<div class="card h-100 pb-3">
<!-- Image -->
<img src="03.jpg" class="card-img-top" alt="course image">
<div class="card-body pb-0">
    <!-- Badge and favorite -->
    <div class="d-flex justify-content-between mb-2">
        <a href="#" class="badge bg-purple bg-opacity-10 text-purple">All level</a>
        
    </div>
    <!-- Title -->
    <p class="mb-2 text-truncate-2">Far advanced</p>
    <h5 class="card-title fw-normal"><a href="#">Websites with HTML</a></h5>
    
    <!-- Rating star -->
</div>
<!-- Card footer -->
</div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>

</div>

    

        
     
    
    <!--begin::Row-->
    <div class="row pt-10">
        <div class="col-xxl-4">
            <!--begin::List Widget 5-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label font-weight-bolder font-size-h4 text-dark-75">Timeline</span>
                        <span class="text-muted mt-3 font-weight-bold font-size-lg">8 New Updates</span>
                    </h3>
                    
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    <div class="tab-content mt-5" id="myTabList5">
                        <!--begin::Tap pane-->
                        
                        <!--end::Tap pane-->
                        <!--begin::Tap pane-->
                        <div class="tab-pane fade show active" id="kt_tab_list_5_2" role="tabpanel" aria-labelledby="kt_tab_list_5_2">
                            <!--begin::Timeline-->
                            <div class="timeline timeline-5">
                                <div class="timeline-items">
                                    <!--begin::Item-->
                                    <div class="timeline-item">
                                        <!--begin::Icon-->
                                        <div class="timeline-media bg-light-primary">
                                            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo2/dist/../src/svg/icons/General/Notifications1.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<path d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z" fill="#000000"></path>
<rect fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2"></rect>
</g>
</svg><!--end::Svg Icon--></span>
                                        </div>
                                        <!--end::Icon-->
                                        <!--begin::Info-->
                                        <div class="timeline-desc timeline-desc-light-primary">
                                            <span class="font-weight-bolder text-primary">04:30 AM</span>
                                            <p class="font-weight-normal text-dark-50 pb-2">Many desktop publishing packages and web page editors now use Lorem Ipsum.</p>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="timeline-item">
                                        <!--begin::Icon-->
                                        <div class="timeline-media bg-light-primary">
                                            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo2/dist/../src/svg/icons/General/Notifications1.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<path d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z" fill="#000000"></path>
<rect fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2"></rect>
</g>
</svg><!--end::Svg Icon--></span>
                                        </div>
                                        <!--end::Icon-->
                                        <!--begin::Info-->
                                        <div class="timeline-desc timeline-desc-light-primary">
                                            <span class="font-weight-bolder text-primary">3:45 PM</span>
                                            <p class="font-weight-normal text-dark-50 pt-1 pb-2">To start a blog, think of a topic about and first brainstorm ways to write details</p>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="timeline-item">
                                        <!--begin::Icon-->
                                        <div class="timeline-media bg-light-primary">
                                            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo2/dist/../src/svg/icons/General/Notifications1.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<path d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z" fill="#000000"></path>
<rect fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2"></rect>
</g>
</svg><!--end::Svg Icon--></span>
                                        </div>
                                        <!--end::Icon-->
                                        <!--begin::Info-->
                                        <div class="timeline-desc timeline-desc-light-primary">
                                            <span class="font-weight-bolder text-primary">2:45 PM</span>
                                            <p class="font-weight-normal text-dark-50 pt-1 pb-2">There are many variations of passages of Lorem Ipsum available.</p>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="timeline-item">
                                        <!--begin::Icon-->
                                        <div class="timeline-media bg-light-primary">
                                            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo2/dist/../src/svg/icons/General/Notifications1.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<path d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z" fill="#000000"></path>
<rect fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2"></rect>
</g>
</svg><!--end::Svg Icon--></span>
                                        </div>
                                        <!--end::Icon-->
                                        <!--begin::Info-->
                                        <div class="timeline-desc timeline-desc-light-primary">
                                            <span class="font-weight-bolder text-primary">3:12 PM</span>
                                            <p class="font-weight-normal text-dark-50 pt-1 pb-2">Latin words, combined with a handful of model sentence structures.</p>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Item-->
                                </div>
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Tap pane-->
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 4-->


        </div>

<div class="row col-xxl-8">

<!-- Course item -->
<div class="col-sm-6 col-lg-4 col-xl-3">
<!-- Image -->
<div class="card card-metro overflow-hidden rounded-3">
<div class="container"></div>

<!-- Image overlay -->
<div class="card-img-overlay d-flex"> 
<!-- Info -->
<div class="mt-auto card-text">
<a href="#" class="text-white mt-auto h5 stretched-link"><img src="/media/img/01.jpg" alt=""></a>
<div class="text-white"></div>
</div>
</div>
</div>
</div>

<!-- Course item -->
<div class="col-sm-6 col-lg-4 col-xl-3">
<!-- Image -->
<div class="card card-metro overflow-hidden rounded-3">
<img src="pdf/01.jpg" alt="">
<!-- Image overlay -->
<div class="card-img-overlay d-flex"> 
<!-- Info -->
<div class="mt-auto card-text">
<a href="#" class="text-white mt-auto h5 stretched-link"></a>
<div class="text-white"></div>
</div>
</div>
</div>
</div>

<!-- Course item -->
<div class="col-sm-6 col-lg-4 col-xl-3">
<!-- Image -->
<div class="card card-metro overflow-hidden rounded-3">
<img src="pdf/01.jpg" alt="">
<!-- Image overlay -->
<div class="card-img-overlay d-flex"> 
<!-- Info -->
<div class="mt-auto card-text">
<a href="#" class="text-white mt-auto h5 stretched-link">Python</a>
<div class="text-white">32 Courses</div>
</div>
</div>
</div>
</div>

<!-- Course item -->
<div class="col-sm-6 col-lg-4 col-xl-3">
<!-- Image -->
<div class="card card-metro overflow-hidden rounded-3">
<img src="pdf/01.jpg" alt="">
<!-- Image overlay -->
<div class="card-img-overlay d-flex"> 
<!-- Info -->
<div class="mt-auto card-text">
<a href="#" class="text-white mt-auto h5 stretched-link">Angular</a>
<div class="text-white">48 Courses</div>
</div>
</div>
</div>
</div>
</div>

                
    
    </div>

 
</div>
<!--end::Container-->
</div>
<!--end::Entry-->
</div>
















{% endblock %}