.mediaViewInfo {
	--web-view-name: Elearn – 1;
	--web-view-id: Elearn__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Elearn__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Elearn__1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Elearn – 1;
	--web-view-id: Elearn__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#nav_bar {
	position: fixed;
	width: 119px;
	height: 954px;
	left: 75px;
	top: 63px;
}
#Rectangle_29 {
	opacity: 0.5;
	fill: rgba(255,255,255,1);
}
.Rectangle_29 {
	filter: drop-shadow(0px 0px 10px rgba(54, 53, 53, 0.306));
	position: absolute;
	overflow: visible;
	width: 149px;
	height: 984px;
	left: 0px;
	top: 0px;
}
#icons {
	position: absolute;
	width: 40px;
	height: 502.55px;
	left: 40px;
	top: 260.015px;
	overflow: visible;
}
#person_FILL0_wght400_GRAD0_ops {
	fill: rgba(66,80,107,1);
}
.person_FILL0_wght400_GRAD0_ops {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 31.05px;
	left: 4px;
	top: 374.75px;
	transform: matrix(1,0,0,1,0,0);
}
#home_FILL0_wght400_GRAD0_opsz4 {
	fill: rgba(239,75,76,1);
}
.home_FILL0_wght400_GRAD0_opsz4 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 35.25px;
	left: 4px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#library_books_FILL0_wght400_GR {
	fill: rgba(66,80,107,1);
}
.library_books_FILL0_wght400_GR {
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 92px;
	transform: matrix(1,0,0,1,0,0);
}
#notifications_FILL0_wght400_GR {
	fill: rgba(66,80,107,1);
}
.notifications_FILL0_wght400_GR {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 40px;
	left: 4px;
	top: 278px;
	transform: matrix(1,0,0,1,0,0);
}
#settings_FILL0_wght400_GRAD0_o {
	fill: rgba(66,80,107,1);
}
.settings_FILL0_wght400_GRAD0_o {
	overflow: visible;
	position: absolute;
	width: 39.111px;
	height: 40px;
	left: 0px;
	top: 462.55px;
	transform: matrix(1,0,0,1,0,0);
}
#smart_display_FILL0_wght400_GR {
	fill: rgba(66,80,107,1);
}
.smart_display_FILL0_wght400_GR {
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 32px;
	left: 0px;
	top: 189px;
	transform: matrix(1,0,0,1,0,0);
}
#logo {
	position: absolute;
	width: 90px;
	height: 31px;
	left: 19px;
	top: 77px;
	overflow: visible;
}
#elearn_logo {
	position: absolute;
	width: 90px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Elearn {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -3px;
	text-align: center;
	font-family: Ubuntu-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(239,75,76,1);
}
#topbar {
	position: absolute;
	width: 1520px;
	height: 92px;
	left: 298px;
	top: 61px;
	overflow: visible;
}
#profile {
	position: absolute;
	width: 92px;
	height: 92px;
	left: 1428px;
	top: 0px;
	overflow: visible;
}
#Mask_Group_2 {
	position: absolute;
	width: 92px;
	height: 92px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#name {
	position: absolute;
	width: 189px;
	height: 66px;
	left: 145px;
	top: 13px;
	overflow: visible;
}
#Hi_Swalih_Mp {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	line-height: 33px;
	margin-top: -2px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(62,97,155,1);
}
#S8_CSE {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 22px;
	color: rgba(62,97,155,1);
}
#menubtn {
	position: absolute;
	width: 36px;
	height: 24px;
	left: 0px;
	top: 34px;
	overflow: visible;
}
#Path_10 {
	fill: rgba(66,80,107,0.502);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 27.382px;
	height: 3px;
	left: 0px;
	top: 21px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
	fill: rgba(66,80,107,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 36px;
	height: 3px;
	left: 0px;
	top: 10.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
	fill: rgba(66,80,107,0.502);
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 27.382px;
	height: 3px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Repeat_Grid_10 {
	position: absolute;
	width: 1489px;
	height: 880px;
	left: 314px;
	top: 248px;
	overflow: hidden;
}
#Group_30 {
	position: absolute;
	width: 459px;
	height: 406px;
	left: 9px;
	top: 9px;
	overflow: visible;
}
#Rectangle_36 {
	fill: rgba(255,255,255,1);
}
.Rectangle_36 {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 424px;
	left: 0px;
	top: 0px;
}
#CSA {
	left: 170px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 76px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Ubuntu-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(239,75,76,1);
}
#Computer_System_Architecture {
	left: 115px;
	top: 247px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(62,97,155,1);
}
#Group_30_bf {
	position: absolute;
	width: 459px;
	height: 406px;
	left: 506px;
	top: 9px;
	overflow: visible;
}
#Rectangle_36_bg {
	fill: rgba(255,255,255,1);
}
.Rectangle_36_bg {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 424px;
	left: 0px;
	top: 0px;
}
#CSA_bh {
	left: 170px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 76px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Ubuntu-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(239,75,76,1);
}
#Computer_System_Architecture_bi {
	left: 115px;
	top: 247px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(62,97,155,1);
}
#Group_30_bj {
	position: absolute;
	width: 459px;
	height: 406px;
	left: 1003px;
	top: 9px;
	overflow: visible;
}
#Rectangle_36_bk {
	fill: rgba(255,255,255,1);
}
.Rectangle_36_bk {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 424px;
	left: 0px;
	top: 0px;
}
#CSA_bl {
	left: 170px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 76px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Ubuntu-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(239,75,76,1);
}
#Computer_System_Architecture_bm {
	left: 115px;
	top: 247px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(62,97,155,1);
}
#Group_30_bn {
	position: absolute;
	width: 459px;
	height: 406px;
	left: 9px;
	top: 453px;
	overflow: visible;
}
#Rectangle_36_bo {
	fill: rgba(255,255,255,1);
}
.Rectangle_36_bo {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 424px;
	left: 0px;
	top: 0px;
}
#CSA_bp {
	left: 170px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 76px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Ubuntu-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(239,75,76,1);
}
#Computer_System_Architecture_bq {
	left: 115px;
	top: 247px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(62,97,155,1);
}
#Group_30_br {
	position: absolute;
	width: 459px;
	height: 406px;
	left: 506px;
	top: 453px;
	overflow: visible;
}
#Rectangle_36_bs {
	fill: rgba(255,255,255,1);
}
.Rectangle_36_bs {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 424px;
	left: 0px;
	top: 0px;
}
#CSA_bt {
	left: 170px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 76px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Ubuntu-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(239,75,76,1);
}
#Computer_System_Architecture_bu {
	left: 115px;
	top: 247px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(62,97,155,1);
}
#Group_30_bv {
	position: absolute;
	width: 459px;
	height: 406px;
	left: 1003px;
	top: 453px;
	overflow: visible;
}
#Rectangle_36_bw {
	fill: rgba(255,255,255,1);
}
.Rectangle_36_bw {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 424px;
	left: 0px;
	top: 0px;
}
#CSA_bx {
	left: 170px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 76px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Ubuntu-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(239,75,76,1);
}
#Computer_System_Architecture_by {
	left: 115px;
	top: 247px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(62,97,155,1);
}